<!DOCTYPE html>
<html>
<head> 
  
  <% include partials/head.ejs %>

  <style>
    p.headingFont{
       font-family: lobster-two, cursive;
       font-size: 40px;
  }  
  </style>
</head>
<body>
  
<% include partials/menu.ejs%>

<% include partials/jsincludes.ejs %>

</body>
</html>
